.edit-page {

  &__buttonContainer {
    display: flex;
    justify-content: center;
  }

  &__text {
    margin: 15px;
  }

  &__card-image {
    width: 100%;
    max-height: 375px;
  }

  &__toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 10px;
    padding: 10px;

    p {
      font-size: 18px;
    }
  }

  &__backButton {
    display: flex;
  }
}

