.login {

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  height: 100vh;
  &__forgot-password {
    text-align: center;
  }

  &__has-text-danger {
    margin: 0;
    color: red;
    font-size: 12px;
  }
 }
